
.root {display: flex;
flex-direction: column;

}


div > img {

  margin-bottom:10px;

} 

.mainDiv {
  border:10px solid greenyellow;
  display: flex;
    flex-direction: column;
    display: block;
    text-align: center;
  padding:10px;
  
}

.header {
  display: flex;
  
  border:1px solid black;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


.daily {
  color: greenyellow;
  font-size: 100px;
}

.logo {
  border: 1px solid black
}

.inputDiv {
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  

}

.description {
  flex:1;
  border-right: 2px solid green;
  padding: 20px;

}

.ingredients {
  flex:1;
  border-right: 2px solid green;
  padding: 20px;
}

.howToPrepare {
  flex:1;
  padding: 20px;
}

.allRecipes {
  display: flex;

}

.Link{
  text-decoration: none;
  padding: 4px;
}

.Link:hover {
  background-color: greenyellow;
}

/*.Link:active {
  font-size: 40px;
}*/
